:root {
  --primary-color: #F4B083;
  --secondary-color: #1EB8B2;
  --bg-color: whitesmoke;
  --accent-color: magenta;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  position: fixed;
  top: 0;


}

#App-logo {
  /* height: 40vmin; */
  max-width: 600px;
  min-width: 350px;
  position: relative;
  /* pointer-events: none; */
}

.shifted-up {
  animation: shift-up 2s;
  bottom: 10vh;
}

.shifted-down {
  animation: shift-down 2s;
  bottom: 0
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

#header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

#bio {
  margin: 5vh auto;
  max-width: 600px;
  min-width: 400px;
  font-size: 1.2em;
  text-align: justify;
  word-break: normal;
  font-weight: 200;
}

#menu {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-option {
  padding: 1em;
  font-size: 1.4em;
  color: var(--secondary-color);
}

.menu-option:hover  {
  background-color: var(--secondary-color);
  color: var(--bg-color);
  /* padding: 1em;
  font-size: 1.4em; */
}

.App-link {
  color: var(--accent-color);
}

#view-box {
  position: fixed;
  height: calc(78vh - 70px);
  width: 100vw;
  border-radius: 10px 10px 0 0;
  border: solid rgba(134, 134, 134, 0.552) 1px;
  border-bottom: none;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 0 20px 50px 20px;
  -webkit-bo-shadow: -1px 1px 11px 4px rgba(0,0,0,0.26); 
  box-shadow: inset -1px 1px 11px 4px rgba(0,0,0,0.26);


  /* animation: view-box-open 2s; */
  /* bottom: 0; */
  
}

.view-box-open {
  animation: view-box-open 2s;
  bottom: 0;
}

.view-box-close {
  animation: view-box-close 2s;
  bottom: -80vh;
}

.view-box-header {
  /* width: 100%; */
  text-align: center;
  color: var(--primary-color);
  font-size: 2em;
  font-weight: 700;
  margin-top: 20px;
}

.view-box-description {
  max-width: 600px;
  margin: 1.5em auto;
  font-weight: 200;
  font-size: 1.2em;
}

.view-box-control-bar {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  /* margin-top: 20px; */
}

.view-box-content {
  display: flex;
  flex-direction: row;
  width: 90vw;
  padding: 20px 5vw 10px 5vw;
  overflow: auto;
  justify-content: center;
  gap: 40px;
}

.view-box-content-card {
  width: 260px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 10px; */
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  -webkit-bo-shadow: -1px 1px 11px 4px rgba(0,0,0,0.26); 
  box-shadow: -1px 1px 11px 4px rgba(0,0,0,0.26);

}
.view-box-content-card-header,
.view-box-work-card-header {
  /* width: 100%; */
  text-align: center;
  color: var(--primary-color);
  font-size: 1.5em;
  font-weight: 700;
  /* height: 80px; */
  /* margin-top: 20px; */
}
.view-box-work-card-header {
  font-size: 2em;
  margin-bottom: 1em
}

.view-box-content-card-email,
.view-box-content-card-text {
  font-weight: 200;
}

.view-box-content-card-email {
  text-align: center;
}

.view-box-content-card-email a{
  font-size: 1.2em;
  color: var(--secondary-color);
  font-weight: 300;
}

.view-box-work-card {
  width: 80vw;
  height: fit-content;
  /* height: 260px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 10px; */
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 10px;
  -webkit-bo-shadow: -1px 1px 11px 4px rgba(0,0,0,0.26); 
  box-shadow: -1px 1px 11px 4px rgba(0,0,0,0.26);
}

.view-box-work-card-body {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.view-box-work-card-image {
  width: 500px;
  /* border: solid black 1px; */
  /* padding: 5px; */

  /* height: 200px; */
}

.view-box-work-card-description {
  width: calc(80vw - 300px);
  font-weight: 200;
  overflow: auto;
  padding-left: 20px;
}

.view-box-work-card-image img {
  width: 100%;
  -webkit-bo-shadow: -1px 1px 11px 4px rgba(0,0,0,0.26); 
  box-shadow: -1px 1px 11px 4px rgba(0,0,0,0.26);

}

.view-box-work-card-image img:hover {
  -webkit-bo-shadow: -1px 1px 11px 4px var(--primary-color); 
  box-shadow: -1px 1px 11px 4px var(--primary-color);
}





@keyframes view-box-open {
  from {
    bottom: -80vh;
  }
  to {
    bottom: 0
  }
}

@keyframes view-box-close {
  from {
    bottom: 0;
  }
  to {
    bottom: -80vh;
  }
}

@keyframes shift-up {
  from {
    bottom: 0;
  }
  to {
    bottom: 10vh;
  }
}

@keyframes shift-down {
  from {
    bottom: 10vh;
  }
  to {
    bottom: 0;
  }
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
